#img-bg {
    background-image: url("https://imgur.com/U4deG6H.png");
    
    min-height: 695px;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

    .btn-style{
        outline: none;
        border-radius: 50px;
        transition: 500ms ease-in-out;
    }